.filter {
  float: left;
  width: 15%;
  margin-top: 6%;
  margin-left: 1%;
  height: 35em;
  background: rgba(114, 114, 113, 0.884);
  border-radius: 15px;
}

.filter ul {
  list-style: none;
  font-size: 2em;
  margin-left: 30%;
  margin-top: 10%;
  align-items: center;
}

.filter li {
  margin-top: 5%;
}

.filter a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
.filter a:hover {
  color: white;
}

.carousel-container {
  margin-left: 8%;
  float: left;
  width: 55%;
  height: 50em;
  overflow: hidden;
}

.carousel-slide {
  margin-top: 4em;

  display: flex;
}

.carousel-slide-2 {
  margin-top: 3em;

  display: flex;
}

.carousel-slide img {
  width: 12.5em;
  height: 300px;
  margin-right: 4.5em;
}
.carousel-slide-2 img {
  width: 12.5em;
  height: 300px;
  margin-right: 4.5em;
}

#nextBtn,
#prevBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  font-size: 50px;
  color: #000000;
  transition: 0.4;
}

#prevBtn {
  float: left;
  left: 19%;
}

#nextBtn {
  float: right;
  right: 18%;
}

#prevBtn:hover,
#nextBtn:hover {
  font-size: 65px;
}
