.form-check {
  font-size: 20px;
}

.card-header {
  font-size: 25px;
}

#carousel-control-prev-or,
#carousel-control-next-or {
  width: 100%;
}

.carousel.carousel img {
  width: 90%;
  height: 90%;
}
