* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
html {
  height: 100%;
}
body {
  background-image: url(./img/main-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

nav {
  background-color: #986a26;
  height: 4rem;
}

.navbar-brand {
  transform: rotate(-10deg);
  transition: 0.4s;
}

@media (max-width: 992px) {
  #navbar-or {
    padding-top: 0rem;
    padding-bottom: 0.5rem;
  }
  #search-bar {
    width: 50%;
  }
  .collapse {
    overflow-x: hidden;

    background-color: rgba(152, 106, 38, 0.7);
  }
}

.navbar-brand:hover {
  transform: rotate(+10deg);
}

#navbarText {
  font-size: 20px;
  z-index: 10;
}

.navbar-toggler {
  z-index: 10;
}
